*
{
    padding: 0;
    margin: 0;
}

body
{
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif;
}

img.logoImg
{
    margin-top: 15px;
    width: 300px;
}

table#contentsTable
{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

table#contentsTable td
{
    border: 1px solid rgb(224, 224, 224);

    text-align: center;
    vertical-align: middle;
}

span.producerSpan
{
    color: rgb(100, 100, 100);
    font-size: 9px;
}

span.vintageSpan
{
    color: rgb(100, 100, 100);

    font-size: 11px;
    float: right;
}

span.priceSpan
{
    font-size: 12px;
}

span.taxedPriceSpan
{
    font-size: 11px;
}

span.stockSpan
{
    color: red;
    margin-left: 10px;
}

input.qtyInput
{
    font-size: 9px;
    width: 30px;
}

img.addToCartBtn,img.happyBoxIcon
{
    height: 30px;
    float: right;
    opacity: 0.25;
}
img.addToCartBtn:hover,img.happyBoxIcon:hover
{
    cursor: pointer;
    opacity: 1;
}

div.soldOut > img
{
    z-index: -1;
    position: relative;
}

img.wineImg
{
    height: 110px;
    margin: 10px 5px 10px 0;

    float: left;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

img.wineImg:hover
{
    -webkit-transform: scale(3); 
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
}

div.wineInfo
{
    width: 230px;
    text-align: left;
    padding: 6px;
}

.jpnText
{
    font-size: 11px;
    font-family: "Kozuka Gothic Pro EL", "Kozuka Gothic Pro L", "Meiryo UI", sans-serif;
}

a.wineDetailLnk
{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a.wineDetailLnk:hover
{
    color: brown;
}

a.wineDetailLnk > span
{
    width: 210px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

div#paginationPane
{
    font-family: Helvetica, Arial, sans-serif;
    width: 750px;

    text-align: center;
    margin: 20px auto 0 auto;
}

a#prevLnk
{
    color: rgb(80, 80, 80);

    cursor: pointer;
    padding: 5px;
    margin-right: 15px;

    border: 1px solid rgb(224, 224, 224);
}
a#prevLnk:hover
{
    color: white;
    background-color: rgb(80, 80, 80);
}

a#nextLnk
{
    color: rgb(80, 80, 80);

    cursor: pointer;
    padding: 5px;
    margin-left: 15px;

    border: 1px solid rgb(224, 224, 224);
}
a#nextLnk:hover
{
    color: white;
    background-color: rgb(80, 80, 80);
}

span#prevText
{
    color: rgb(224, 224, 224);

    padding: 5px;
    margin-right: 15px;

    border: 1px solid rgb(224, 224, 224);
}

span#nextText
{
    color: rgb(224, 224, 224);

    padding: 5px;
    margin-left: 15px;

    border: 1px solid rgb(224, 224, 224);
}

.soldOut
{
    background-image: url("http://anyway-grapes.jp/images/sold_out.png");
    background-size: 225px auto;
    background-repeat: no-repeat;
    background-position: right center;
}

